# QUESTION 1

In [7]:
import pandas as pd
name = input("What is your name?: ")
mat_no = input("What is your matriculation number?: ")
dep = input("What is your department?: ")
lvl = input("What is your level?: ")

data = {'Student Name': [name],
        'Matric. Number': [mat_no],
        'Department': [dep],
        'Level': [lvl]}
df = pd.DataFrame(data)
df.to_csv('PAU-SMIS.csv')
print("Data saved to file.")
inp = pd.read_csv('PAU-SMIS.csv')
inp

What is your name?: OBIEKWE KENE
What is your matriculation number?: 22120613021
What is your department?: COMPUTER SCIENCE
What is your level?: 100
Data saved to file.

   Unnamed: 0  Student Name  Matric. Number        Department  Level
0           0  OBIEKWE KENE     22120613021  COMPUTER SCIENCE    100

# QUESTION 2

In [13]:
import pandas as pd

assets = [1000000, 1500000, 3000000, 250000, 800000]
liabilities = [200000, 500000, 1500000, 50000, 300000]
per_leverage_list = []

for i in range(5):
    per_leverage = (assets[i] - liabilities[i]) / (assets[i]) * 100
    per_leverage = float(per_leverage)
    per_leverage_list.append(per_leverage)
    
df =   pd.DataFrame({"Company" : ["Enron", "Anderson", "GK Jones", "Mica", "Dune"],
                     "Founded": ["1987", "1936", "2001", "1996", "2008"],
                     "Assests": [1000000, 1500000, 3000000, 250000, 800000],
                     "Liabilities": [200000, 500000, 1500000, 50000, 300000],
                     "Percentage Leverages (%)": [x for x in per_leverage_list]
                    })
df.to_csv("Company data.csv")
df

    Company Founded  Assests  Liabilities  Percentage Leverages (%)
0     Enron    1987  1000000       200000                 80.000000
1  Anderson    1936  1500000       500000                 66.666667
2  GK Jones    2001  3000000      1500000                 50.000000
3      Mica    1996   250000        50000                 80.000000
4      Dune    2008   800000       300000                 62.500000